* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.user-table {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #00bdc1;
}

:where(.css-dev-only-do-not-override-1rs6sf).ant-menu-light
  .ant-menu-item-selected {
  background-color: #00bdc1;
}
